<launch>
  <node ns="cozmo_camera" pkg="image_proc" type="image_proc" name="image_proc"/>
  <node pkg="topic_tools" type="relay" name="relay" args="/cozmo_camera/image /cozmo_camera/image_raw"/>
  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false"
    output="screen">
    <param name="marker_pattern_list" type="string"
      value="$(find ar_pose)/data/object_4x4"/>
    <param name="threshold" type="int" value="100"/>
  </node>
</launch>
